In [1]:
with open("locations.csv", "r") as f:
    for line in f:
        print(line)

   name  attr1  attr2  attr3  attr4  attr5
0  loc1   0.20   0.20   0.65    NaN    NaN
1  loc2   0.50   0.70   0.80    NaN    NaN
2  loc3   0.45   0.60   0.90    NaN    NaN
3  loc4   0.25   0.45   0.20    NaN    NaN
4  loc5   0.75   0.30   0.45    NaN    NaN

[0, name     loc1
attr1     0.2
attr2     0.2
attr3    0.65
attr4     NaN
attr5     NaN
Name: 0, dtype: object]
[1, name     loc2
attr1     0.5
attr2     0.7
attr3     0.8
attr4     NaN
attr5     NaN
Name: 1, dtype: object]
[2, name     loc3
attr1    0.45
attr2     0.6
attr3     0.9
attr4     NaN
attr5     NaN
Name: 2, dtype: object]
[3, name     loc4
attr1    0.25
attr2    0.45
attr3     0.2
attr4     NaN
attr5     NaN
Name: 3, dtype: object]
[4, name     loc5
attr1    0.75
attr2     0.3
attr3    0.45
attr4     NaN
attr5     NaN
Name: 4, dtype: object]